<div class="panel panel-primary">
    <div class="panel-heading" style="font-size:large">
        Product List
        <div class="btn-group pull-right col-md-4" data-toggle="buttons">
            <label class="control-label" for="gardenRadio">Garden</label>
            <input type="radio" name="gardenRadio" ng-model="vm.productCategory" value="GDN" ng-change="vm.changeCategory()" />

            <label class="control-label" for="toolRadio">General Tools</label>
            <input type="radio" name="toolRadio" ng-model="vm.productCategory" value="TBX" ng-change="vm.changeCategory()" />


        </div>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <td><button class="btn btn-primary" type="button" ng-click="vm.toggleImage()">
                    {{vm.showImage ? "Hide" : "Show"}} Image
                    </button >
                        </td>
                        <td>Product</td>
                        <td>Code</td>
                        <td>Available</td>
                        <td>Price</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in vm.products">
                        <td>
                            <img ng-if="vm.showImage" ng-src="{{product.imageUrl}}" style="width:50px;margin:2px" title="product.productName">
                        </td>
                        <td><a ui-sref="productDetail({productId: product.productId })">{{product.productName}}</a></td>
                        <td>{{product.productCode}}</td>
                        <td>{{product.releaseDate | date}}</td>
                        <td>{{product.price | currency}}</td>
                        <td>
                            <a ui-sref="productEdit.info({productId: product.productId})" class="btn btn-primary">Edit</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>